{% with head_title=("FAKE: " + article['generated_title']) %}
    {% include 'header.html' %}
{% endwith %}
<div id="content-article">
        <span id="article-page-title">
            {{ article['generated_title'] }}
            <!-- Seed article's title: {{ article['original_title'] }} -->
        </span>
    <br><br>
    <span id="article-page-date">
        {{ display_funcs.date_with_month_name(article['published']) }}
        </span>
    &nbsp;&nbsp;&nbsp;
    <i class="fab fa-facebook-square fa-2x" style="color: #3C5A99;"></i>
    &nbsp;&nbsp;&nbsp;
    <i class="fab fa-twitter-square fa-2x" style="color: #1DA1F2;"></i>
    <br><br><br>
    <img src="{{ article['matched_image_link'] }}"/>
    <br><br>
    <p>
        {{ display_funcs.get_clean_article_text(article).replace('\n', '<br><br>') | safe }}

    </p>
</div>
<br>
{% include 'footer.html' %}
