{% with head_title=("FAKE: " + category.title()) %}
    {% include 'header.html' %}
{% endwith %}
<div id="category-content">

    <div id="category-main-article">

        {% set main_article = cat_articles[0] %}
        {% set article_link = "/article/" + main_article['published'][0:10] + "/" + main_article['id'] %}

        <div id="category-main-article-left">
            <a href="{{ article_link }}" id="category-main-article-title">
                {{ main_article['generated_title'] }}
            </a>

            <br><br>

            <span id="category-main-article-content">
                    {{ display_funcs.get_article_preview_text(main_article)|safe }}
                </span>
        </div>

        <div id="category-main-article-right">
            <img src="{{ main_article['matched_image_link'] }}" style="width: 100%;"/>
        </div>

    </div>

    <hr>
    <br>

    <div id="category-sub-articles">

        {% for i in range(cat_articles|length - 1) %}

            {% set article_link = "/article/" + cat_articles[i + 1]['published'][0:10] + "/" + cat_articles[i + 1]['id'] %}

            <div class="category-sub-article">
                <ul>
                    <li>
                        <a href="{{ article_link }}">{{ cat_articles[i + 1]['generated_title'] }}</a>
                    </li>
                </ul>
            </div>

        {% endfor %}

    </div>

</div>
<br><br>
{% include 'footer.html' %}
