<div id="footer">
    <div id="footer-content">
        <div class="footer-col">
            <span class="footer-col-logo">THIS NEWS DOES NOT EXIST</span>
        </div>
        <div class="footer-col">
            <span class="footer-col-title">NEWS</span>
            {% set categories = [('Opinion', '/opinion'), ('World', '/news/world'), ('Business', '/news/business'), ('Technology', '/news/technology'), ('Politics', '/news/politics'), ('Health', '/news/health'), ('Entertainment', '/news/entertainment'), ('Sports', '/news/sports')] %}
            <ul>
                {% for tup in categories %}
                    <li><a href="{{ tup[1] }}">{{ tup[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer-col">
            <span class="footer-col-title">MORE</span>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <span class="footer-col-title">WHAT IS THIS?</span>
            <br><br>
            Recent advances in artificial intelligence have made it easy to generate believable fake text, including
            the articles on this site. We hope to demonstrate how this technology could automate
            disinformation and potentially flood the internet with fake news.<br>
            <a href="/about">Read more.</a>
        </div>
    </div>
    <br>
</div>
</div>
</body>
</html>