<div id="footer">
    <div id="footer-content">
        <div class="footer-col">
            <span class="footer-col-logo">THIS NEWS DOES NOT EXIST</span>
        </div>
        <div class="footer-col">
            <span class="footer-col-title">NEWS</span>
            <ul>
                <li><a href="/news/world">World</a></li>
                <li><a href="/news/business">Business</a></li>
                <li><a href="/news/technology">Technology</a></li>
                <li><a href="/news/politics">Politics</a></li>
                <li><a href="/news/health">Health</a></li>
                <li><a href="/news/entertainment">Entertainment</a></li>
                <li><a href="/news/sports">Sports</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <span class="footer-col-title">MORE</span>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Press Information</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <span class="footer-col-title">WHAT IS THIS?</span>
            <br><br>
            Recent advances in artificial intelligence have made it easy to generate believable fake text, including
            the articles on this site. We hope to demonstrate how this technology could automate
            disinformation and potentially flood the internet with fake news.<br>
            <a href="/about">Read more.</a>
        </div>
    </div>
    <br>
</div>
</div>
</body>
</html>