{% with head_title="This News Does Not Exist" %}
    {% include 'header.html' %}
{% endwith %}
<div id="content">
    {% set num_articles_left = 8 %}
    {% set num_articles_right = 5 %}
    <div id="left-col" class="content-col">

        {% for i in range(num_articles_left) %}
            {% if i < articles|length %}
                {% set article = articles[i] %}
                {% set article_link = "/article/" + article['published'][0:10] + "/" + article['id'] %}
                <div class="article">
                    <div class="article-left">
                        <a href={{ article_link }} class="article-title">
                            <b>{{ article['generated_title'] }}</b>
                        </a>
                        <p>
                            {{ display_funcs.get_article_preview_text(article)|safe }}
                        </p>
                        <div class="art-bot">
                            <div class="art-bot-left">
                                <a href={{ article_link }}><b>Continue
                                    reading...</b></a>
                            </div>
                            <div class="art-bot-right">
                                <span>{{ display_funcs.date_as_time_ago(article['published']) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-right">
                        <a href="{{ article_link }}">
                            <img src="{{ article['matched_image_link'] }}"/>
                        </a>
                    </div>
                </div>
                {% if i < num_articles_left - 1 %}
                    <br>
                    <hr>
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div id="right-col" class="content-col">
        <div class="gray-container">
            <span class="gray-container-title">TOP STORIES</span>
            <br><br><br>
            {% for i in range(num_articles_left,num_articles_left + num_articles_right) %}
                {% if i < articles|length %}
                    <div class="story-row">
                        <div class="story-left">
                            {{ i - num_articles_left + 1 }}
                        </div>

                        <div class="story-right">
                            {% set article = articles[i] %}
                            {% set article_link = "/article/" + article['published'][0:10] + "/" + article['id'] %}
                            <a href={{ article_link }}>{{ article['generated_title'] }}</a>
                        </div>
                    </div>
                    {% if i < num_articles_left + num_articles_right - 1 %}
                        <br><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <br>
        </div>
        <br><br>
        <div class="gray-container">
            <span class="gray-container-title">OPINION</span>
            <br><br><br>
            {% for i in range(num_articles_right) %}
                {% if i < opinions|length %}
                    <div class="story-row">
                        <div class="story-left">
                            {{ i + 1 }}
                        </div>

                        <div class="story-right">
                            {% set article = opinions[i] %}
                            {% set article_link = "/article/" + article['published'][0:10] + "/" + article['id'] %}
                            <a href={{ article_link }}>{{ article['generated_title'] }}</a>
                        </div>
                    </div>
                    {% if i < num_articles_left + num_articles_right - 1 %}
                        <br><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <br>
        </div>
    </div>
</div>
<br><br>
{% include 'footer.html' %}